$Blue: var(--Blue);
$LightRed : var(--LightRed);/*work)*/
$SoftBlue : var(--SoftBlue);/*play*/
$LightRed : var(--LightRed);/*study*/
$LimeGreen : var(--LimeGreen);/*exercise*/
$Violet : var(--Violet);/*social*/
$SoftOrange : var(--SoftOrange);/*self care*/

$VeryDarkBlue: var(--VeryDarkBlue);
$DarkBlue: var(--DarkBlue);
$DesaturatedBlue: var(--DesaturedBlue);
$PaleBlue: var(--PaleBlue);