@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
:root{
  --Blue: hsl(246, 80%, 60%);
  --LightOrange : hsl(15, 100%, 70%);/*work)*/
  --SoftBlue : hsl(195, 74%, 62%);/*play*/
  --LightRed : hsl(348, 100%, 68%);/*study*/
  --LimeGreen : hsl(145, 58%, 55%);/*exercise*/
  --Violet : hsl(264, 64%, 52%);/*social*/
  --SoftOrange : hsl(43, 84%, 65%);/*self care*/

  --VeryDarkBlue: hsl(226, 43%, 10%);
  --DarkBlue: hsl(235, 46%, 20%);
  --DesaturatedBlue: hsl(235, 45%, 61%);
  --PaleBlue: hsl(236, 100%, 87%);
  --White: hsl(0, 0%, 100%);
}
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  min-height:100vh;
  font-family: 'Rubik', sans-serif;
  background-color:var(--VeryDarkBlue);
}
#root{
  width:100%;
  padding:2em 1em;
}
@media screen and (max-width:505px){
  #root{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:1em;
  }
}
@media screen and (min-width:506px){
  body{
    display:grid;
    place-items:center;
  }
  #root{
    width:80%;
    height:70vh;
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    align-items:center;
    gap:1em;
    padding:0;
  }
}